/* style.css */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #00383B;
    color: white;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }
    nav{
        width: 100%
    }
    .table th, .table td {
    text-align: center;
    }
     .table th,
    .table td {
        font-size: 10px;
    }
}

.nav-links{
    float: left;
    display: inline-block;
    margin: 3px;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px 10px 10px 10px
}

.users-nav{
    float: right;
    display: inline-block;
    margin: 3px;
    padding: 0;
}

.users-nav a {
    text-decoration: none;
    color: white;
    padding: 10px 10px 10px 10px
}

.active{
    border-bottom: 5px solid #fff;
}



.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 90%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}


/* Base styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    margin: 0px;
    overflow-x: hidden;
}

.container {
    margin: 20px 0px 20px 0px;
}

.form-container {
    max-width: 400px;
    margin: auto;
    background-color: #00383B;
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.form-container a {
    color: #fff;
}

/* Container styles */
.task-container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px 10px 20px 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.auth-form,
.task-form {
    margin-top: 20px;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.btn-primary {
    display: block;
    padding: 10px;
    background-color: #00383B;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    border: 2px #fff solid;
}

.btn-primary:hover {
    background-color: #fff;
    color: #00383B;
    border: 2px #00383B solid;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-danger:hover {
    background-color: #c82333;
}



/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
}

td a {
    text-decoration: none;
}

.table tr{
    text-align: left;
}

.high-priority {
    background-color: #9b1c31;
    color: #FFFFFF;
}

.medium-priority {
    background-color: #fada50;
    color: #FFFFFF;
}

.low-priority {
    background-color: #5DADE2;
    color: #FFFFFF;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.sort-btn{
    border: none;
    background-color: #fff;
}
